@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-black: #171717;
  --color-met-red: #e4002b;
  
  --background: var(--color-white);
  --foreground: var(--color-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

header {
  background: var(--color-met-red);
  color: var(--color-white);
  font-family: serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}